/* Core Stuff */
/* ------------------------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #0D160B;
    font-family: 'Luciole', sans-serif;
    background: #00c0AA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0D160B;
}

h1 {
    margin: 0 0 1.5rem 0;
    line-height: 3rem;
    font-size: 2.4em;
}

h2 {
    margin: 0.75rem 0;
    line-height: 1.5rem;
    font-size: 1.2em;
}

a {
    color: #ff7677;
    text-decoration: none;
}

a:hover {
    color: #0D160B;
}

p {
    margin: 1.5rem 0;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

input {
    border: 0;
}

/* Utility Classes */
/* ------------------------------- */
.wrapper {
    margin: 0 3rem;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
/* ------------------------------- */

/* HEADER */

.header {
    background-color: #00C0AA;
    color: #eee;
    height: 10rem;
    padding: 2rem 2rem 0;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15rem;
    height: 100vh;
}



.header a {
    color: #fff;
}

.header .logo {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.header .logo .logo_img {
    width: 10rem;
}

/* Menu Settings */
.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: #fff;
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
    background-color: #175E91;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    background-color: #fff;
    color: #175E91;
}

/* Dropdown CSS */
.main-nav ul li {
    position: relative;
}

.main-nav ul li ul {
    position: absolute;
    background-color: #1F8DD6;
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}

.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}

.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}



.header .logo .site_title {
    font-size: 2rem;
    height: 3rem;
    margin-top: -4rem;
    margin-left: 12rem;
    margin-bottom: 1rem;

}

/* EN TETE */

.entete {
    padding: 3rem;
}

.entete {
    margin-left: 15rem;
}

.entete .search-wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.entete .search-wrapper .search-input {
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    height: 3rem;
    padding: 0 1.5rem 0 3rem;
    ;
    //border-radius: 1rem;
}

.icon-search {
    display: inline-block;
    width: 60%;
    position: relative;
}

.search-wrapper .icon-search:before,
#tntsearch-wrapper .icon-search:before {
    font-family: "FontAwesome";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    content: "\f002";
    position: absolute;
    left: 17px;
    top: 9px;
    font-size: 1.5rem;
    color: #d6c7e5;
    z-index: 3;
    //position: relative;
    width: 0;
}

.search-submit {
    border-radius: 0 !important;
    border: 0 !important;
    padding: 0.75rem;
    height: 3rem;
    width: 19%;
}

/* CONTENT */
#body {}

.content_img {
    max-width: 896px;
    margin: 3rem auto 0;
    //border: 1rem solid #00c0AA;
    border-bottom: none;
}

.content {
    max-width: 896px;
    margin: 0 auto 3rem;
    padding: 1.5rem 3rem 3rem 3rem;
    //border: 1rem solid #00c0AA;
    border-top: none;
    background: #FFF;
}

/* LABEL */
.label {
    line-height: 1rem;
    display: inline-block;
    padding: .1rem .4rem;
    font-size: 0.62rem;
    text-transform: uppercase;
    border-radius: 5rem;
    background: #ff7677;
    color: #FFF;
}

.footer {
    background-color: #eee;
}


/* FONTS */
/* ------------------------------- */
@font-face {
    font-family: 'Luciole';
    src: url('../fonts/Luciole-Italic.woff2') format('woff2'),
        url('../fonts/Luciole-Italic.woff') format('woff'),
        url('../fonts/Luciole-Italic.svg#Luciole-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('../fonts/Luciole-Regular.woff2') format('woff2'),
        url('../fonts/Luciole-Regular.woff') format('woff'),
        url('../fonts/Luciole-Regular.svg#Luciole-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('../fonts/Luciole-Bold.woff2') format('woff2'),
        url('../fonts/Luciole-Bold.woff') format('woff'),
        url('../fonts/Luciole-Bold.svg#Luciole-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('../fonts/Luciole-BoldItalic.woff2') format('woff2'),
        url('../fonts/Luciole-BoldItalic.woff') format('woff'),
        url('../fonts/Luciole-BoldItalic.svg#Luciole-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
