/* Core Stuff */
/* ------------------------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #0D120B;
    font-family: 'Luciole', sans-serif;
    /*background: #008780;*/
}

.pure-g [class *="pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Luciole', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0D120B;
    font-family: 'Nanami Pro', 'Luciole', sans-serif;
}

h1 {
    margin: 0 0 1.5rem 0;
    line-height: 3rem;
    font-size: 2.4em;
    font-weight: 500;
}

h2 {
    margin: 0.75rem 0;
    line-height: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
}

h3 {
    font-weight: 500;
    font-size: 1.2rem;
}

h4 {
    margin: 0.75rem 0;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

a {
    color: #ff7677;
    text-decoration: none;
}

a:hover {
    color: #0D120B;
}

p {
    margin: 1.5rem 0;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

input {
    border: 0;
}

img {
    max-width: 100%;
}

ul {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding-left: 1rem;
}

/* Utility Classes */
/* ------------------------------- */
.wrapper {
    margin: 0 3rem;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.border-right {
    border-right: 2px solid #008780;

}

/* Content Styling */
/* ------------------------------- */

/* HEADER */

.header {
    background-color: #008780;
    color: #eee;
    height: 10rem;
    padding: 1.5rem 2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15rem;
    height: 100vh;
    font-family: 'Nanami Pro', 'Luciole', sans-serif;
    letter-spacing: 0.2px;
}


.nav-toggle {
    display: none;
}

.header a {
    color: #fff;
}

.header a:hover {
    color: #ff7677;
}

.header .logo {
    font-size: 1.7rem;
    display: block;
    height: 6rem;
    //text-transform: uppercase;
}

.header .logo .logo_img {
    width: 10rem;
    margin-left: 0.5rem;
}


.header .site_title {
    font-size: 1.25rem;
    //height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: right;
    line-height: 1.5rem;
    font-family: 'Nanami Pro', 'Luciole', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    padding: 0 0.75rem 0 0;
    letter-spacing: 0.52px;
}

.nav-link {
    display: block;
    margin: 0 0.75rem;
    padding: 0.75rem 0;
    line-height: 1.5rem;
    text-align: right;
    //width: 100%;
    height: 3rem;
    border-bottom: 2px #fff solid;
    font-size: 1.13rem;
    text-transform: uppercase;
}

.nav-link:nth-child(3) {
    border-top: 2px #fff solid;
}

.nav-link:hover {
    color: #ff7677;
}

.nav-link .fa {
    //width: 100%;
    font-size: 1.5rem;
    line-height: 0rem;
    margin-right: 0.75rem;
}

/* Menu Settings */
.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: #fff;
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
    background-color: #175E91;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    background-color: #fff;
    color: #175E91;
}

/* Dropdown CSS */
.main-nav ul li {
    position: relative;
}

.main-nav ul li ul {
    position: absolute;
    background-color: #1F8DD6;
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}

.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}

.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}

.header_bottom {
    position: absolute;
    bottom: 1.5rem;
    right: 3rem;
    text-align: right;
    font-weight: 200;
    font-size: 1.1rem;
}


/* EN TETE */

.entete {
    padding: 0.75rem;
    margin-left: 15rem;
    height: 3.75rem;
    border-bottom: 1px solid #008780;
}

.entete .search-wrapper {
    width: 100%;
    //max-width: 960px;
    margin-top: 3px;
}

.entete .search-wrapper .search-input,
.entete .search-wrapper .tnt-search-field {
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    height: 2rem;
    padding: 0.1rem 0.75rem 0;
    line-height: 2rem;
    border-radius: 0;
    color: #0D120B;
}

.icon-search {
    display: inline-block;
    width: 59%;
    position: relative;
}

/*.search-wrapper .icon-search:before,
#tntsearch-wrapper .icon-search:before {
    font-family: "FontAwesome";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    content: "\f002";
    position: absolute;
    left: 9px;
    top: 5px;
    font-size: 1.3rem;
    color: #0D120B;
    z-index: 3;
    //position: relative;
    width: 0;
}*/

.search-submit {
    border-radius: 0 !important;
    border: 0 !important;
    padding: 0.5rem;
    height: 2rem;
    width: 6%;
    background: #ff7677 !important;
    color: #FFF;
}

#tntsearch-wrapper {
    width: 66.6%;
}

.tntsearch-form .form-input {
    height: 2rem !important;
}

.tntsearch-clear:hover {
    color: #ff7677;
}

.advanced-search-link {
    position: absolute;
    top: 5px;
    right: -149px;
    font-size: 0.75rem;
}

.tntsearch-results {
    margin-top: 0rem;
}

.tntsearch-results .row > p {
    margin-top: 1.5rem !important;
    margin-bottom: 0 !important;
}

.tntsearch-results .info {
    color: #00120b !important;
    font-size: 0.6rem !important;
    text-transform: uppercase;
    width: 66.6%;
    text-align: left;
    font-family: 'Nanami Pro', 'Luciole', sans-serif;
    line-height: 0.75rem;
    margin-left: 0.75rem;
}

.ajax-result {
    background: #FFF;
}

/* CONTENT */
#body {
    margin-left: 15rem;
}

#body .pure-g {
    //margin-top: 0.25rem;
}

.content_img {
    //max-width: 896px;
    //margin: 3rem auto 0;
    //border: 1rem solid #008780;
    border-bottom: none;
    position: relative;
}

.content {
    max-width: 896px;
    margin: 0 auto 3rem;
    padding: 1.5rem 3rem 3rem 3rem;
    //border: 1rem solid #008780;
    border-top: none;
    background: #FFF;
    position: relative;
}

.category-content {
    text-align: center;
}

.category-content h1 {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.1rem;
    border: 2px solid #008780;
    color: #008780;
    display: inline-block;
    padding: 0.85rem 0.75rem 0.75rem;
    font-family: 'Nanami Pro', 'Luciole', sans-serif;
    text-transform: uppercase;
    z-index: 2;
    //width: 9rem;
    line-height: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;

    box-shadow: -1px 1px 0 #008780, -2px 2px 0 #008780, -3px 3px 0 #008780, -4px 4px 0 #008780, -5px 5px 0 #008780, -6px 6px 0 #008780;

}

/* GRID */
.home-column-header {
    margin: 3.75rem 0.75rem 0.75rem;
    text-align: center;
    border-bottom: 2px solid #008780;
    position: relative;
    /*padding-bottom: 6px;*/
    height: 4.5rem;

}

.home-column-header-title {
    margin: 0 0.75rem 0;
    line-height: 1.25rem;
    font-size: 1rem;
    font-weight: 300;
    border: 2px solid #008780;
    color: #008780;
    display: inline-block;
    padding: 0.85rem 0.75rem 0.75rem;
    font-family: 'Nanami Pro', 'Luciole', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 2;
    text-align: left;
    width: 9rem;
    height: 4.5rem;
}

.home-column-header-title.active {
    /*box-shadow: 0 10px 0 #fff, -1px 1px 0 #008780, -2px 2px 0 #008780, -3px 3px 0 #008780, -4px 4px 0 #008780, -5px 5px 0 #008780, -6px 6px 0 #008780;*/
    border-bottom-color: #fff;
    position: relative;
    bottom: 16px;
    left: 7px;
    z-index: 3;
    /*line-height: 2rem;*/
    padding-bottom: 14px;
    padding-top: 14px;
    height: 5.5rem;
}

.home-column-header-title.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 4px;
    top: 0;
    background: transparent;
    border-right: 9px solid #008780;
    border-top: 12px solid transparent;
    z-index: 1;
}

.home-column-header-title span {
    line-height: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.home-column-header-title.active:hover {
    color: #008780;
    cursor: default;
}

.home-column-header-title:hover {
    color: #ff7677;
}

.ressource_home_div {
    /*border: 2px solid #008780;*/
    height: 21rem;
    position: relative;
    overflow: hidden;
    margin: 0.75rem;
    font-family: 'Nanami Pro', 'Luciole', sans-serif;
}

.ressource_home_div:after {
    content: "";
    position: absolute;
    top: 0;
    margin: -10px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #ffffff;
    /* to see where it is */
}

.ressource_home_div a {
    color: #000;
}

.ressource_home_div a:hover {
    color: #ff7677;
}

.ressource_home_header {
    background: #008780;
    color: #ffffff;
    text-align: right;
    text-transform: uppercase;
    font-size: 0.65rem;
    padding-right: 0.75rem;
    width: 100%;
    border-bottom: 2px solid #008780;
    height: 1.5rem;
}

.ressource_home_img_wrapper {
    height: 10.5rem;
    z-index: 1;
    background-size: cover;
    width: 100%;
    border-left: 2px solid #008780;
    border-right: 2px solid #008780;
}

.ressource_home_img {
    z-index: 1;

}

.ressource_home_text_wrapper {
    position: absolute;
    height: 9rem;
    top: 12rem;
    background: #FFF;
    width: 100%;
    border-left: 2px solid #008780;
    border-right: 2px solid #008780;
    border-top: 2px solid #008780;
}

.ressource_home_text {
    margin: 0 1.5rem;
    text-align: center;
    margin-top: -3rem;
    padding: 0.75rem;
    background: #FFF;
    z-index: 3;
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
    height: 12rem;
}

.ressource_home_title_wrapper {
    vertical-align: middle;
    height: 5rem;
    position: relative;
}

.ressource_home_title {
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(-0%, -50%);
    font-weight: 500;
}

.ressource_home_subtitle {
    font-size: 0.85rem;
    font-weight: 300;
    position: absolute;
    top: 5.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    line-height: 1rem;
}

.ressource_home_footer {
    background: #008780;
    color: #ffffff;
    text-align: right;
    text-transform: uppercase;
    font-size: 0.65rem;
    padding: 0 0.75rem;
    width: 100%;
    border-top: 2px solid #008780;
    height: 1.5rem;
    line-height: 1.5rem;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 5;
}

.ressource_home_tag {
    text-transform: uppercase;
    font-size: 0.65rem;
    width: 100%;
}

/* LABEL */
.label {
    line-height: 1rem;
    display: inline-block;
    padding: .1rem .4rem;
    font-size: 0.62rem;
    text-transform: uppercase;
    border-radius: 5rem;
    background: #cfcbc9;
    color: #00120b;
    letter-spacing: 0.4px;
}

button.category,
a.category {
    color: #008780;
}

button.category,
a.category:hover {
    color: #ff7677;
}

button.label:hover,
button.label.is-active,
a.label:hover,
a.label.is-active {
    background: #ff7677;
    color: #00120b;
}

button.label.is-active {
    background: #00120b;
    color: #fff;
}

.footer {
    background-color: #eee;
    margin-left: 15rem;
    display: none;
}

.fiche_title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    max-width: 848px;
    margin: 0;
    padding: 0.75rem 1.5rem;
    width: 100%;
}

.fiche_img {
    width: 100%;
}

.fiche_header {
    font-family: 'Nanami Pro', 'Luciole', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.horizontal-separator {
    height: 0;
    margin: 0 auto;
    margin-top: 1.5rem;
    border-top: 1px solid #00120b;
    width: 66.6%;
}

.btn,
.btn-down {
    padding: 0.25rem 0.75rem 0.1rem;
    background: #ff7677;
    color: #FFF;
    display: inline-block;
    line-height: 2rem;
}

.btn:hover,
.btn-down:hover {
    background: #0D120B;
    color: #FFF;
}

.btn i,
.btn-down i {
    margin-right: 0.75rem;
}

/* ADVANCED SEARCH */
.search_div {
    font-family: 'Nanami Pro', 'Luciole', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 0.75rem;
}

.search_div button {
    font-weight: 300;
}

.search_div h3 {
    margin: 1.125rem 0 0.375rem;
    font-weight: 300;
    font-size: 1rem;
    color: #bcb6b3;
    letter-spacing: 0.5px;
}

.advanced_search_bar {
    margin: 0.75rem .75rem 0rem 0.75rem;
    //border-bottom: 2px solid #008780;
}

.advanced_search_bar .icon-search {
    width: 83%;
}

.advanced_search_bar .search-wrapper {
    width: 100%;
    //padding: 0 0.75rem;

}

.advanced_search_bar .search-wrapper .search-input,
.advanced_search_bar .search-wrapper .tnt-search-field {
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    height: 2rem;
    padding: 0.1rem 0.75rem 0;
    line-height: 2rem;
    border-radius: 0;
    color: #0D120B;
}

#advanced-search {
    width: unset;
    margin: 1.5rem 0 0;
    //height: 2.25rem;
}

#advanced-search .fa {
    margin-left: -3px;
    margin-right: 7px;
}

/* PLAYER */
/*custom green-player */
.container-player2 {
    height: 5.75rem;
    position: relative;
    margin-top: 1.75rem;
    margin-bottom: 3rem;
}

.container-player2 .player-title {
    color: #ffffff;
    /*font-weight: 600;*/
    text-align: center;
    line-height: 0;
    /*margin-top: 0.75rem;*/
    height: 2.25rem;
    background: #ff7677;
    /*padding-top: 1.5rem;*/
    line-height: 2.25rem;
}

.green-audio-player {
    width: 100%;
    background-color: transparent;
    padding: 1.5rem;
    box-shadow: none;
    border-radius: 0;
    border: 2px solid #ff7677;
    border-top: none;
    /*margin-top: -12px;*/
    font-size: 14px;
    font-weight: 300;
    height: 3rem;
}

.green-audio-player .controls {
    font-family: inherit;
    color: #00120b;
    font-size: inherit;
}

.green-audio-player .controls span {
    font-weight: 300;
}

.green-audio-player svg path,
.green-audio-player svg,
.green-audio-player .volume .volume__button.open path {
    fill: #ff7677;
}

.green-audio-player svg path:hover,
.green-audio-player svg:hover {
    fill: #00120b;
}

.green-audio-player .slider {
    background: #27451a;
}

.green-audio-player .slider .gap-progress {
    background-color: #ff7677;
}

.green-audio-player .slider .gap-progress .pin {
    //border-radius: 0;
    background-color: #ff7677;
    box-shadow: none;
}

.green-audio-player.container-small-player-enabled {
    font-size: 10px;
    border-bottom: none;
    height: 29px;
    margin-top: -5px;
}

.green-audio-player.container-small-player-enabled .play-pause-btn svg {
    width: 12px;
    height: 18px;
}

.green-audio-player.container-small-player-enabled .download {
    margin-left: 0;
}

.green-audio-player.container-small-player-enabled .download svg {
    width: 12px;
    height: 12px;
}

.green-audio-player.container-small-player-enabled .volume {
    display: none;
}



/* LICENSE */
.license-div {
    font-size: 0.8rem;
    line-height: 1.rem;
}


/* PLUGINS */
.frontend-edit-button {
    background-color: #ff7677 !important;
    border: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.frontend-edit-button .label {
    background: transparent;

}

#frontend-edit-button {
    padding: 0.75rem !important;

}

/* EDIT BUTTON */
#edit-button {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

a.edit-button {
    background-color: #ff7677;
    padding: 0.5rem 0.75rem;
    color: black;
    font-size: 0.8rem;
    margin: 0;
    line-height: 1rem;
}


/* MEDIA QUERIES */

.mdsup {
    display: block
}

.mdinf {
    display: none;
}

@media screen and (max-width: 48em) {
    .home-column-header-title {
        margin: 0 0.25rem 0;
    }

    .fiche_title {
        position: static;
        bottom: unset;
        left: unset;
        transform: unset;
    }

    .content {
        padding: 1.5rem;
    }

    .mdinf {
        display: block;
    }

    .mdsup {
        display: none;
    }

    #tntsearch-wrapper {
        //width: 100%;
    }
}


@media screen and (max-width: 35.5em),
screen and (max-height:35.5em) {
    .header {
        height: 4.5rem;
        bottom: unset;
        right: 0;
        width: 100%;
        z-index: 10;
        padding: 0rem;
        border-bottom: 2px solid #fff;
    }

    .header .logo {
        height: 4.5rem;
        background: #008780;
    }

    .header .logo .logo_img {
        width: 6rem;
        margin-top: 0.5rem;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        right: 0;
        color: #FFF;
        top: 0;
        margin: 0.5rem 0.75rem;
        font-size: 1.25rem;
        font-weight: 300;

    }

    .nav-toggle::after {
        text-align: center;
        width: 2rem;
        height: 1.5rem;
        content: "\2261";
        margin-left: 0.75rem;
        font: normal 33px/55px "responsivenav";
        font-family: sans-serif;
    }

    .nav-toggle.active::after {
        content: "\78";
        font: normal 28px/55px "responsivenav";
        font-family: sans-serif;

    }

    .site_title {
        display: none;
    }

    .nav-link {
        background-color: #008780;
        margin: 0;
        text-align: center;
        display: none;
    }

    .nav-link.active {
        display: block;
    }

    .header_bottom {
        position: inherit;
        bottom: unset;
        right: unset;
        text-align: center;
        width: 100%;
        background-color: #008780;
        padding: 0.75rem 0;
        display: none;
    }

    .header_bottom.active {
        display: block;
    }

    .entete {
        margin-left: 0;
        margin-top: 4.5rem;
        height: 4.5rem;
    }

    .tntsearch-results {
        margin-top: 2rem;
    }

    #tntsearch-wrapper {
        width: 100%;
    }

    .advanced-search-link {
        right: 0.25rem;
        top: 2rem;
    }

    .search_div {
        margin-top: 5rem;
    }

    .advanced_search_bar .icon-search {
        width: 100%;
    }

    #advanced-search {
        //width: 100%;
    }

    #body {
        margin-left: 0;
        background: #fff;
    }



    .sm {
        display: block;
    }

    .supsm {
        display: none;
    }
}

/* FONTS */
/* ------------------------------- */
@font-face {
    font-family: 'Luciole';
    src: url('../fonts/Luciole-Italic.woff2') format('woff2'),
        url('../fonts/Luciole-Italic.woff') format('woff'),
        url('../fonts/Luciole-Italic.svg#Luciole-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('../fonts/Luciole-Regular.woff2') format('woff2'),
        url('../fonts/Luciole-Regular.woff') format('woff'),
        url('../fonts/Luciole-Regular.svg#Luciole-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('../fonts/Luciole-Bold.woff2') format('woff2'),
        url('../fonts/Luciole-Bold.woff') format('woff'),
        url('../fonts/Luciole-Bold.svg#Luciole-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('../fonts/Luciole-BoldItalic.woff2') format('woff2'),
        url('../fonts/Luciole-BoldItalic.woff') format('woff'),
        url('../fonts/Luciole-BoldItalic.svg#Luciole-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}





@font-face {
    font-family: 'Nanami Pro';
    src: url('../fonts/NanamiPro-Thin.woff2') format('woff2'),
        url('../fonts/NanamiPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanami Pro';
    src: url('../fonts/NanamiPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/NanamiPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanami Pro';
    src: url('../fonts/NanamiPro-Light.woff2') format('woff2'),
        url('../fonts/NanamiPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanami Pro';
    src: url('../fonts/NanamiPro-Normal.woff2') format('woff2'),
        url('../fonts/NanamiPro-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanami Pro';
    src: url('../fonts/NanamiPro-Medium.woff2') format('woff2'),
        url('../fonts/NanamiPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanami Pro';
    src: url('../fonts/NanamiPro-Bold.woff2') format('woff2'),
        url('../fonts/NanamiPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanami Pro';
    src: url('../fonts/NanamiPro-Black.woff2') format('woff2'),
        url('../fonts/NanamiPro-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanami Pro';
    src: url('../fonts/NanamiPro-Heavy.woff2') format('woff2'),
        url('../fonts/NanamiPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
