{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="category-content">
        {{ page.content }}
    </div>
	<div class="pure-g">
		{% set collection = page.collection() %}
		{% for child in collection %}
			<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                {% include 'partials/grid_ressources_div.html.twig' with {'child':child} %}
			</div>
		{% endfor %}
	</div>
	{# Render the pagination list #}
	{% if config.plugins.pagination.enabled %}
		{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
	{% endif %}
{% endblock %}
