{% extends 'partials/base.html.twig' %}


{% block content %}
    
    
    
    {% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}
    
    
    
    
    {% set queries = uri.query(null, true) %}
    {% if queries is empty %}
        {% set collection = page.collection %} {#page.evaluate([{'@page.descendants':'/fiches'}]) #}
    {% else %}
        {% set collection = taxonomy.findTaxonomy(queries) %}
    {% endif %}
    {% import 'partials/cascade-filters.html.twig' as f %}
    
    
        {{dump(queries)}}
    <div class="fiche_header">
        {% set taxlist = cascadeFilters.get() %} {# get texonomy list #}
        {% set queries = uri.query(null, true) %} {# get queries as Array #}
        {% set search_params = uri.query('q') %}
        {% if search_params %}
            {% set search_params_tmp = search_params|split(')') %}
        {% endif %}
        {% set search_params = [] %}
        {% for params in search_params_tmp if params %}
            {% set search_params = search_params|merge([params|trim('(')]) %}
        {% endfor %}
        {{dump(search_params)}}
        <a href="{{ page.url }}" class="button">Clean all filters </a>
        {% if taxlist %}
            {% for key, values in taxlist %}
                <!--<h3>{{ key }}</h3>-->
                {% set author = '' %}
                {% if key == 'author' %}
                    {% set author = '<i class="fa fa-user"></i> ' %}
                {% endif %}
                {% for tax in values|keys %}
                    {% set active = '' %}
                    {% set queries = '' %}
                    {% for params in search_params  %}
                        {% if params == tax %}
                          {% set active = 'is-active' %}
                        {% else %}
                            {% set queries = queries ~ '(' ~ params ~ ')' %}
                        {% endif %}
                    {% endfor %}
                    {% if active == '' %}
                        {% set queries = queries ~ '(' ~ tax ~ ')' %}
                    {% endif %}
                    <a href="{{ page.url }}/?q={{ queries|url_encode }}" type="button" class="label {{ active }}">{{author}}{{ tax|capitalize }}</a>
                    
                
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>



        
{% endblock %}