{% extends 'partials/base.html.twig' %}

{% block content %}
    
    {{ page.content }}
    
    <div class="mdsup">
        <div class="home-column-header">
            <a class="home-column-header-title tab-link" id="selection-tab-link" onclick="opentab(event,'selection')">Notre <br><span>Sélection</span></a>
                <a class="home-column-header-title tab-link" onclick="opentab(event,'recentes')">Fiches <span>récentes</span></a>
            <a class="home-column-header-title tab-link" onclick="opentab(event,'hasard')">Au  <br><span>hasard</span></a>
        </div>
    
    
	
        <div id="selection" class="home-tab">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                    {% set feature = page.find(page.header.feature1) %}
                    {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                    {% set feature = page.find(page.header.feature2) %}
                    {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                    {% set feature = page.find(page.header.feature3) %}
                    {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                    {% set feature = page.find(page.header.feature4) %}
                    {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                    {% set feature = page.find(page.header.feature5) %}
                    {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
                </div>

                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                    {% set feature = page.find(page.header.feature6) %}
                    {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                {% set feature = page.find(page.header.feature7) %}
                {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                {% set feature = page.find(page.header.feature8) %}
                {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                {% set feature = page.find(page.header.feature9) %}
                {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                {% set feature = page.find(page.header.feature10) %}
                {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                    {% set feature = page.find(page.header.feature11) %}
                    {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                {% set feature = page.find(page.header.feature12) %}
                {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
                </div>
            </div>
        </div>
        <div id="recentes" class="home-tab mdsup">
            <div class="pure-g">
                {% for child in page.find('/fiches').children.order('date', 'desc').slice(0, 12) %}
                    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                        {% include 'partials/grid_ressources_div.html.twig' with {'child':child} %}
                    </div>  
                {% endfor %}
            </div>
        </div>
        <div id="hasard" class="home-tab mdsup">
            <div class="pure-g">
                {% for child in page.find('/fiches').children.order('random').slice(0, 12) %}
                    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                        {% include 'partials/grid_ressources_div.html.twig' with {'child':child} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="mdinf">
        <div class="category-content">
            <h1>Notre <br>Sélection</h1>
        </div>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                {% set feature = page.find(page.header.feature1) %}
                {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                {% set feature = page.find(page.header.feature2) %}
                {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                {% set feature = page.find(page.header.feature3) %}
                {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                {% set feature = page.find(page.header.feature4) %}
                {% include 'partials/grid_ressources_div.html.twig' with {'child':feature} %}
            </div>
        </div>
        <div class="category-content">
            <h1>Fiches <br>récentes</h1>
        </div>
        <div class="pure-g">
            {% for child in page.find('/fiches').children.order('date', 'desc').slice(0, 4) %}
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                    {% include 'partials/grid_ressources_div.html.twig' with {'child':child} %}
                </div>  
            {% endfor %}
        </div>
        <div class="category-content">
            <h1>Au  <br>hasard</h1>
        </div>
        <div class="pure-g">
            {% for child in page.find('/fiches').children.order('random').slice(0, 4) %}
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                    {% include 'partials/grid_ressources_div.html.twig' with {'child':child} %}
                </div>
            {% endfor %}
        </div>
    </div>
        
        
	
	{# Render the pagination list #}
	<!--{% if config.plugins.pagination.enabled %}
		{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
    {% endif %}
-->
{% endblock %}
