{% extends 'partials/base.html.twig' %}

{% block entete %}

{% endblock %}

{% block content %}
    
    {#{% include 'partials/taxonomylist.html.twig' with {base_url: my_url, taxonomy: ['author','tag'] } %} #}

    {% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}
{{dump(taxlist)}}
    {# {% if taxlist %}
    <span class="tags">
        {% for tax,value in taxlist[taxonomy] %}
            {% set active = uri.param(taxonomy) == tax? 'active' : '' %}
            <a class="{{ active }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax }}">{{ tax }}</a>
        {% endfor %}
    </span>
        {% endif %} #}
    
    
    {% set queries = uri.query(null, true) %}
    {% if queries is empty %}
        {% set collection = page.evaluate([{'@page.descendants':'/fiches'}]) %}
    {% else %}
        {% set collection = taxonomy.findTaxonomy(queries) %}
    {% endif %}
    {% import 'partials/cascade-filters.html.twig' as f %}
    {{dump(collection) }}
    
        {{dump(queries)}}
    <div class="search_div">
        {% set taxlist = taxonomylist.get() %} {# get taxonomy list #}
        <!--<a href="{{ page.url }}" class="button">Clean all filters </a>-->
        {% if taxlist %}
            {% for key, values in taxlist %}
                {% if key == 'author' %}
                    {% set key_disp = 'Auteur·ices' %}
                {% elseif key == 'category' %}
                    {% set key_disp = 'Catégories' %}
                {% elseif key == 'tag' %}
                    {% set key_disp = 'Mot-Clés' %}
                {% endif %}
                <h3 class="search-key">{{ key_disp }}</h3>
                {% set author = '' %}
                {% if key == 'author' %}
                    {% set author = '<i class="fa fa-user"></i> ' %}
                {% endif %}
                {% for tax in values|keys %}
                    {% set active = '' %}
                    {% set search_params = uri.param(key)|split(',') %}
                    {% if tax in search_params %}
                        {% set active = 'is-active' %}
                    {% endif %}
                    <button href="" type="button" class="pure-button button-search label {{ active }}" data-taxo="{{key}}" data-tag="{{tax}}">{{author}}{{ tax }}</button>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <h3 class="search-key">Texte</h3>
    </div>
    <div class="advanced_search_bar">
        {% set min_chars = config.get('plugins.simplesearch.min_query_length', 3) %}
        <div class="search-wrapper">
            <form name="search" data-simplesearch-form class="pure-form">
                <span class="icon-search">
                <input
                    name="searchfield"
                    class="search-input pure-input"
                    aria-label="search"
                    type="text"
                    {% if min_chars > 0 %} data-min="{{- min_chars -}}" {% endif %}
                    required
                    placeholder="Contenu d'article, références..."
                    value="{{ query|e }}"
                    data-search-invalid="{{ "PLUGIN_SIMPLESEARCH.SEARCH_FIELD_MINIMUM_CHARACTERS"|t(min_chars)|raw }}"
                    data-search-separator="{{ config.system.param_sep }}"
                    data-search-input="{{ base_url }}{{ config.plugins.simplesearch.route == '@self' ? '' : (config.plugins.simplesearch.route == '/' ? '' : config.plugins.simplesearch.route) }}/query"
                />
                </span>
                
                {% if config.plugins.simplesearch.display_button %}

                {% endif %}
            </form>
        </div>
        <button id="advanced-search" class="pure-button search-submit"><i class="fa fa-search"></i>RECHERCHER</button>
    </div>
    <!--<button id="advanced-search" class="pure-button search-submit"><i class="fa fa-search"></i></button>-->
    
    <div class="category-content">
        <h1>Résultats</h1>
    </div>
    <div class="pure-g">
        {% if not search_results %}
            {% set search_results=page.evaluate([{'@page.descendants':'/fiches'}]) %}
        {% endif %}
		{% for child in search_results %}
            {{dump(child.header.taxonomy) }}
            {% set display_child = true %}
            {% if uri.param('category') %}
                {% set display_category = false %}
                {% set params = uri.param('category')|split(',') %}
                {% for param_el in params %}
                    {% if param_el in child.header.taxonomy.category %}
                        {% set display_category = true %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% set display_category = true %}
            {% endif %}
            
            {% if uri.param('tag') %}
                {% set display_tag = false %}
                {% set params = uri.param('tag')|split(',') %}
                {% for param_el in params %}
                    {% if param_el in child.header.taxonomy.tag %}
                        {% set display_tag = true %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% set display_tag = true %}
            {% endif %}
            
            {% if uri.param('author') %}
                {% set display_author = false %}
                {% set params = uri.param('author')|split(',') %}
                {% for param_el in params %}
                    {% if param_el in child.header.taxonomy.author %}
                        {% set display_author = true %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% set display_author = true %}
            {% endif %}
            {% if display_category and display_tag and display_author  %}
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                    {% include 'partials/grid_ressources_div.html.twig' with {'child':child} %}
                </div>
            {% endif %}
		{% endfor %}
	</div>
    
{% endblock %}
