<div class="ressource_home_div">
    <div class="ressource_home_header">
        {% for category in child.taxonomy.category %}
            {{ category }} {% if not loop.last %} - {% endif %}
        {% endfor %}
    </div>
    <a href="{{child.url}}">
        {% set image_url = url('theme://images//placeholder.png') %}
        {% if child.media.images %}
            {% set image_url = child.media.images|first.cropZoom(800, 500).url %}
        {% endif %}
        {% if child.header.feature_image %}
            {% set image_url = child.media[child.header.feature_image].cropZoom(896, 500).url %}
        {% endif %}
        <div class="ressource_home_img_wrapper" style="background-image:url('{{ image_url }}')">
            <!--<img class="ressource_home_img pure-img" src="{{ image_url }}">-->
        </div>
        <div class="ressource_home_text_wrapper">
            <div class="ressource_home_text">
                <div class="ressource_home_title_wrapper">
                    <div class="ressource_home_title">
                      {{child.menu}}
                    </div>
                </div>
                <div class="ressource_home_subtitle">
                    — <br>
                    {% include 'partials/type_media.html.twig' with {'type':child.header.type_ressource} %} - {{child.date|date("Y")}}
                </div>


            </div>
        </div>
    </a>
    <div class="ressource_home_footer">

            {% for tag in child.taxonomy.tag %}
                {{ tag }}
                {% if not loop.last %} - {% endif %}
            {% endfor %}

    </div>
</div>